<p id="notice"><%= notice %></p>

<h1>Listing Pdffiles</h1>

<table>
  <thead>
    <tr>
      <th>Pdffolder</th>
      <th>Pdf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pdffiles.each do |pdffile| %>
      <tr>
        <td><%= pdffile.pdffolder_id %></td>
        <td><%= pdffile.pdf %></td>
        <td><%= link_to 'Show', pdffile %></td>
        <td><%= link_to 'Edit', edit_pdffile_path(pdffile) %></td>
        <td><%= link_to 'Destroy', pdffile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pdffile', new_pdffile_path %>
